tensorboard
tensorflow
torchsummary
pytorch-lightning
elephas
analytics-zoo
BigDL
tqdm
altair
beautifulsoup4
bokeh
bottleneck
cloudpickle
cython
dask
dill
h5py
ipympl
ipywidgets
matplotlib-base
numba
numexpr
pandas
patsy
protobuf
pytables
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
widgetsnbextension
xlrd
